# EDA - Venta de Coches (USA)

<img alt = "ALT" src = "recursos_visuales/img1.jpeg">

### Instalación de Librerías básicas

In [2]:
### Bibliotecas básicas de gestión de datos
import pandas as pd
import numpy as np

### Bibliotecas gráficas
import matplotlib.pyplot as plt
import seaborn as sns 

### Utilidades Scikit-learn 
from sklearn.model_selection import train_test_split

### Métricas
from sklearn import metrics
from sklearn.metrics import accuracy_score, roc_curve, auc

#!pip install xgboost 
### Modelos
from xgboost import XGBClassifier, plot_importance

In [3]:
#Cargamos el dataset desde el csv
df = pd.read_csv("Dataset/car_prices.csv")

In [4]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [11]:
df['body'].unique()

array(['SUV', 'Sedan', 'Convertible', 'Coupe', 'Wagon', 'Hatchback',
       'Crew Cab', 'G Coupe', 'G Sedan', 'Elantra Coupe', 'Genesis Coupe',
       'Minivan', nan, 'Van', 'Double Cab', 'CrewMax Cab', 'Access Cab',
       'King Cab', 'SuperCrew', 'CTS Coupe', 'Extended Cab',
       'E-Series Van', 'SuperCab', 'Regular Cab', 'G Convertible', 'Koup',
       'Quad Cab', 'CTS-V Coupe', 'sedan', 'G37 Convertible', 'Club Cab',
       'Xtracab', 'Q60 Convertible', 'CTS Wagon', 'convertible',
       'G37 Coupe', 'Mega Cab', 'Cab Plus 4', 'Q60 Coupe', 'Cab Plus',
       'Beetle Convertible', 'TSX Sport Wagon', 'Promaster Cargo Van',
       'GranTurismo Convertible', 'CTS-V Wagon', 'Ram Van', 'minivan',
       'suv', 'Transit Van', 'Navitgation', 'van', 'regular-cab',
       'g sedan', 'g coupe', 'hatchback', 'king cab', 'supercrew',
       'g convertible', 'coupe', 'crew cab', 'wagon', 'double cab',
       'e-series van', 'regular cab', 'quad cab', 'g37 convertible',
       'supercab', 'extended cab', 'crewmax cab', 'genesis coupe',
       'access cab', 'mega cab', 'xtracab', 'beetle convertible',
       'cts coupe', 'koup', 'club cab', 'elantra coupe', 'q60 coupe',
       'cts-v coupe', 'transit van', 'granturismo convertible',
       'tsx sport wagon', 'promaster cargo van', 'q60 convertible',
       'g37 coupe', 'cab plus 4', 'cts wagon'], dtype=object)

In [14]:
array_car_types = df['body'].unique()

print(len(array_car_types))

88

In [69]:
import math

def assign_color(value):
    # Convertir a mayúsculas para una comparación uniforme (opcional)
     #value = value.strip().lower()

    # Asignar valores a los colores
    if value in {'4802', '2846', '339', '20627', '12655', 'white'}  or (value == '' and math.isnan(value)):  # Verificar valor vacío en caso de NaN
        return int(1)  # blanco
    elif value in {'16633', '6158', '5705', '-', 'gray'}:
        return int(2)  # gris
    elif value in {'6388', 'black'}:
        return int(3)  # negro
    elif value in {'11034', 'red'}:
        return int(4)  # rojo
    elif value in {'2711', 'silver'}:
        return int(5)  # plata
    elif value in {'2817', 'blue'}:
        return int(6)  # azul
    elif value in {'9410', '1167', '14872', 'brown'}:
        return int(7)  # marrón
    elif value in {'9887', '2846', 'beige'}:
        return int(8)  # beige
    elif value in {'18561', '9562', '5001', 'purple'}:
        return int(9)  # púrpura
    elif value in {'721', '2711', 'burgundy'}:
        return int(10)  # burdeos
    elif value in {'gold', '2172'}:
        return int(11)  # oro
    elif value in {'yellow', '18384', '9837', '20379', '15719', '6864'}:
        return int(12)  # amarillo
    elif value == 'green':
        return int(13)  # verde
    elif value == 'charcoal':
        return int(14)  # carbón
    elif value == 'orange':
        return int(15)  # naranja

    return None

In [70]:
df['color_numeric'] = df['color'].apply(assign_color)

In [58]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,color_numeric
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),1.0
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),1.0
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST),2.0
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST),1.0
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST),2.0

In [71]:
df.iloc[0,10]

'white'

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   year           558837 non-null  int64
 1   make           548536 non-null  object
 2   model          548438 non-null  object
 3   trim           548186 non-null  object
 4   body           545642 non-null  object
 5   transmission   493485 non-null  object
 6   vin            558833 non-null  object
 7   state          558837 non-null  object
 8   condition      547017 non-null  float64
 9   odometer       558743 non-null  float64
 10  color          558088 non-null  object
 11  interior       558088 non-null  object
 12  seller         558837 non-null  object
 13  mmr            558799 non-null  float64
 14  sellingprice   558825 non-null  float64
 15  saledate       558825 non-null  object
 16  color_numeric  531661 non-null  float64
dtypes: float64(5), int64(1), object(11)
memory usage: 72.5+ MB

In [75]:
df.describe()

,year,condition,odometer,mmr,sellingprice,color_numeric
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000,531661.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810,3.863563
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628,2.780510
min,1982.000000,1.000000,1.000000,25.000000,1.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000,2.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000,3.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000,5.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000,15.000000

In [77]:
car_df = df[['year','condition','odometer','mmr','sellingprice','color_numeric']]

In [78]:
car_df.head()

   year  condition  odometer      mmr  sellingprice  color_numeric
0  2015        5.0   16639.0  20500.0       21500.0            1.0
1  2015        5.0    9393.0  20800.0       21500.0            1.0
2  2014       45.0    1331.0  31900.0       30000.0            2.0
3  2015       41.0   14282.0  27500.0       27750.0            1.0
4  2014       43.0    2641.0  66000.0       67000.0            2.0