# EDA - Venta de Coches (USA)

<img alt = "ALT" src = "recursos_visuales/img1.jpeg">

### Instalación de Librerías básicas

In [1]:
### Bibliotecas básicas de gestión de datos
import pandas as pd
import numpy as np

### Bibliotecas gráficas
import matplotlib.pyplot as plt
import seaborn as sns 

### Utilidades Scikit-learn 
from sklearn.model_selection import train_test_split

### Métricas
from sklearn import metrics
from sklearn.metrics import accuracy_score, roc_curve, auc

#!pip install xgboost 
### Modelos
from xgboost import XGBClassifier, plot_importance

c:\Users\diego\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
#Cargamos el dataset desde el csv
df = pd.read_csv("Dataset/car_prices.csv")

In [3]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [4]:
df['body'].unique()

array(['SUV', 'Sedan', 'Convertible', 'Coupe', 'Wagon', 'Hatchback',
       'Crew Cab', 'G Coupe', 'G Sedan', 'Elantra Coupe', 'Genesis Coupe',
       'Minivan', nan, 'Van', 'Double Cab', 'CrewMax Cab', 'Access Cab',
       'King Cab', 'SuperCrew', 'CTS Coupe', 'Extended Cab',
       'E-Series Van', 'SuperCab', 'Regular Cab', 'G Convertible', 'Koup',
       'Quad Cab', 'CTS-V Coupe', 'sedan', 'G37 Convertible', 'Club Cab',
       'Xtracab', 'Q60 Convertible', 'CTS Wagon', 'convertible',
       'G37 Coupe', 'Mega Cab', 'Cab Plus 4', 'Q60 Coupe', 'Cab Plus',
       'Beetle Convertible', 'TSX Sport Wagon', 'Promaster Cargo Van',
       'GranTurismo Convertible', 'CTS-V Wagon', 'Ram Van', 'minivan',
       'suv', 'Transit Van', 'Navitgation', 'van', 'regular-cab',
       'g sedan', 'g coupe', 'hatchback', 'king cab', 'supercrew',
       'g convertible', 'coupe', 'crew cab', 'wagon', 'double cab',
       'e-series van', 'regular cab', 'quad cab', 'g37 convertible',
       'supercab', 'extended cab', 'crewmax cab', 'genesis coupe',
       'access cab', 'mega cab', 'xtracab', 'beetle convertible',
       'cts coupe', 'koup', 'club cab', 'elantra coupe', 'q60 coupe',
       'cts-v coupe', 'transit van', 'granturismo convertible',
       'tsx sport wagon', 'promaster cargo van', 'q60 convertible',
       'g37 coupe', 'cab plus 4', 'cts wagon'], dtype=object)

In [5]:
array_car_types = df['body'].unique()

print(len(array_car_types))

88

In [6]:
import math

def assign_color(value):
    # Convertir a mayúsculas para una comparación uniforme (opcional)
     #value = value.strip().lower()

    # Asignar valores a los colores
    if value in {'4802', '2846', '339', '20627', '12655', 'white'}  or (value == '' and math.isnan(value)):  # Verificar valor vacío en caso de NaN
        return int(1)  # blanco
    elif value in {'16633', '6158', '5705', '-', 'gray'}:
        return int(2)  # gris
    elif value in {'6388', 'black'}:
        return int(3)  # negro
    elif value in {'11034', 'red'}:
        return int(4)  # rojo
    elif value in {'2711', 'silver'}:
        return int(5)  # plata
    elif value in {'2817', 'blue'}:
        return int(6)  # azul
    elif value in {'9410', '1167', '14872', 'brown'}:
        return int(7)  # marrón
    elif value in {'9887', '2846', 'beige'}:
        return int(8)  # beige
    elif value in {'18561', '9562', '5001', 'purple'}:
        return int(9)  # púrpura
    elif value in {'721', '2711', 'burgundy'}:
        return int(10)  # burdeos
    elif value in {'gold', '2172'}:
        return int(11)  # oro
    elif value in {'yellow', '18384', '9837', '20379', '15719', '6864'}:
        return int(12)  # amarillo
    elif value == 'green':
        return int(13)  # verde
    elif value == 'charcoal':
        return int(14)  # carbón
    elif value == 'orange':
        return int(15)  # naranja

    return None

In [7]:
df['color_numeric'] = df['color'].apply(assign_color)

In [8]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,color_numeric
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),1.0
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST),1.0
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST),2.0
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST),1.0
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST),2.0

In [9]:
df.iloc[0,10]

'white'

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   year           558837 non-null  int64
 1   make           548536 non-null  object
 2   model          548438 non-null  object
 3   trim           548186 non-null  object
 4   body           545642 non-null  object
 5   transmission   493485 non-null  object
 6   vin            558833 non-null  object
 7   state          558837 non-null  object
 8   condition      547017 non-null  float64
 9   odometer       558743 non-null  float64
 10  color          558088 non-null  object
 11  interior       558088 non-null  object
 12  seller         558837 non-null  object
 13  mmr            558799 non-null  float64
 14  sellingprice   558825 non-null  float64
 15  saledate       558825 non-null  object
 16  color_numeric  531661 non-null  float64
dtypes: float64(5), int64(1), object(11)
memory usage: 72.5+ MB

In [11]:
df.describe()

,year,condition,odometer,mmr,sellingprice,color_numeric
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000,531661.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810,3.863563
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628,2.780510
min,1982.000000,1.000000,1.000000,25.000000,1.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000,2.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000,3.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000,5.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000,15.000000

In [12]:
car_df = df[['year','condition','odometer','mmr','sellingprice','color_numeric']]

In [13]:
car_df.head()

   year  condition  odometer      mmr  sellingprice  color_numeric
0  2015        5.0   16639.0  20500.0       21500.0            1.0
1  2015        5.0    9393.0  20800.0       21500.0            1.0
2  2014       45.0    1331.0  31900.0       30000.0            2.0
3  2015       41.0   14282.0  27500.0       27750.0            1.0
4  2014       43.0    2641.0  66000.0       67000.0            2.0

In [14]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   year           558837 non-null  int64
 1   condition      547017 non-null  float64
 2   odometer       558743 non-null  float64
 3   mmr            558799 non-null  float64
 4   sellingprice   558825 non-null  float64
 5   color_numeric  531661 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 25.6 MB

In [15]:
car_df.drop("sellingprice", axis = 1).isin([0]).sum()

year             0
condition        0
odometer         0
mmr              0
color_numeric    0
dtype: int64

In [16]:
car_df.isin([50]).sum()

year              0
condition         0
odometer          2
mmr              44
sellingprice      0
color_numeric     0
dtype: int64

In [17]:
car_df.describe()

,year,condition,odometer,mmr,sellingprice,color_numeric
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000,531661.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810,3.863563
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628,2.780510
min,1982.000000,1.000000,1.000000,25.000000,1.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000,2.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000,3.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000,5.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000,15.000000

In [18]:
column_sellingprice = car_df[['sellingprice']]

In [19]:
column_sellingprice.to_csv("Dataset/sellingpricescars.csv", index = True)

In [20]:
#Visualizamos el numero de filas donde el precio de venta ha sido 1, no sabemos si interpretarlo como valor nulo o válido
num_col_1 = column_sellingprice['sellingprice'].isin([1.0]).sum()

In [21]:
print(num_col_1)

4

In [62]:
df.sort_values(by = 'sellingprice',ascending=True).head(30)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate,color_numeric
348252,1995,Isuzu,Rodeo,LS,SUV,NaN,4s2cm58v9s4375559,va,1.0,254132.0,red,gray,automotive remarketing inc,375.0,1.0,Wed Mar 04 2015 01:05:00 GMT-0800 (PST),4.0
48453,2003,Mercedes-Benz,E-Class,E500,Sedan,automatic,wdbuf70j73a269529,ga,21.0,1.0,black,black,peoples credit company inc,7325.0,1.0,Tue Jan 06 2015 09:30:00 GMT-0800 (PST),3.0
7566,2002,Ford,F-350 Super Duty,XLT,Crew Cab,NaN,1ftsw31f52ed16477,ca,2.0,NaN,white,gray,laa leasing,7850.0,1.0,Thu Feb 05 2015 04:00:00 GMT-0800 (PST),1.0
293223,2014,Ford,E-Series Van,E-250,E-Series Van,automatic,1ftne2ew6eda13643,tx,41.0,31886.0,white,gray,u-haul,20800.0,1.0,Thu Feb 12 2015 03:00:00 GMT-0800 (PST),1.0
25588,2003,Chevrolet,Malibu,LS,Sedan,automatic,1g1ne52j83m720145,nj,1.0,186893.0,red,beige,lester glenn buick,950.0,100.0,Wed Jan 21 2015 04:00:00 GMT-0800 (PST),4.0
281158,2003,Nissan,Altima,2.5 SL,Sedan,automatic,1n4al11d93c243639,hi,14.0,101792.0,white,gray,credit acceptance corp/vrs/southfield,2950.0,100.0,Wed Feb 18 2015 06:35:00 GMT-0800 (PST),1.0
227773,2009,NaN,NaN,NaN,NaN,automatic,2fahp71v99x109403,fl,2.0,1.0,white,gray,palm beach county sheriff's office,3825.0,100.0,Tue Feb 03 2015 01:33:00 GMT-0800 (PST),1.0
384512,2006,Ford,Freestar,SE,Minivan,automatic,2fmza51656ba16153,hi,18.0,75389.0,silver,gray,wells fargo dealer services,2750.0,100.0,Tue Mar 03 2015 16:00:00 GMT-0800 (PST),5.0
196184,2004,Pontiac,Montana,Base,Minivan,automatic,1gmdu03e74d147553,hi,2.0,106495.0,silver,gray,first hawaiian bank,1700.0,100.0,Wed Jan 28 2015 06:30:00 GMT-0800 (PST),5.0
530434,2002,Ford,Escort,ZX2 Deluxe,coupe,NaN,3fafp11362r198421,pa,19.0,164660.0,silver,gray,hertz remarketing,725.0,100.0,Fri Jun 12 2015 02:00:00 GMT-0700 (PDT),5.0
423599,1995,BMW,3 Series,325i,Sedan,automatic,wbacb4327sfm23067,ca,2.0,198766.0,white,tan,enterprise car sales/orange,475.0,100.0,Wed May 20 2015 04:00:00 GMT-0700 (PDT),1.0
205309,2002,Chrysler,Sebring,GTC,Convertible,automatic,1c3el75r32n259184,ut,1.0,94937.0,black,tan,wells fargo dealer services,1325.0,100.0,Wed Jan 28 2015 04:30:00 GMT-0800 (PST),3.0
502080,2002,Ford,Taurus,SES,sedan,NaN,1fafp55222a271061,pa,19.0,132230.0,silver,gray,hertz remarketing,800.0,100.0,Fri Jun 05 2015 02:00:00 GMT-0700 (PDT),5.0
30275,1993,NaN,NaN,NaN,NaN,automatic,1fbjs31h7phb50742,hi,1.0,39750.0,white,gray,phh vehicle management services,1775.0,100.0,Tue Jan 20 2015 16:00:00 GMT-0800 (PST),1.0
449497,2003,Chevrolet,Impala,Base,Sedan,automatic,2g1wf52e939360899,pa,19.0,215987.0,gray,tan,hertz remarketing,550.0,100.0,Fri May 22 2015 02:00:00 GMT-0700 (PDT),2.0
466143,2006,Buick,Rendezvous,CX,suv,automatic,3g5da03l36s512932,ms,1.0,256040.0,silver,gray,dt credit corporation,1025.0,100.0,Thu May 28 2015 05:01:00 GMT-0700 (PDT),5.0
406428,2005,Hyundai,Elantra,GLS,Sedan,automatic,kmhdn46d65u050594,ms,1.0,999999.0,white,gray,select remarketing group llc/midwest title loans,100.0,100.0,Thu Apr 02 2015 05:02:00 GMT-0700 (PDT),1.0
409841,1995,Mercury,Grand Marquis,LS,Sedan,NaN,2melm75wxsx700523,ms,1.0,165658.0,green,green,select remarketing group llc/midwest title loans,575.0,100.0,Thu Apr 23 2015 05:02:00 GMT-0700 (PDT),13.0
353308,2008,Chrysler,PT Cruiser,Touring,Wagon,automatic,3a8fy58b48t155048,hi,25.0,90335.0,white,gray,first hawaiian bank,3425.0,100.0,Tue Feb 24 2015 16:00:00 GMT-0800 (PST),1.0
241038,1997,Mitsubishi,Galant,ES,Sedan,automatic,4a3aj56g1ve148491,ca,1.0,226034.0,gray,gray,melody toyota,325.0,100.0,Wed Feb 04 2015 07:10:00 GMT-0800 (PST),2.0
421787,2002,Dodge,Durango,SLT,SUV,automatic,1b4hr48n52f205682,pr,19.0,145161.0,silver,gray,pr auto loans llc,1275.0,100.0,Thu May 14 2015 03:00:00 GMT-0700 (PDT),5.0
443651,2005,Hyundai,Sonata,GLS,Sedan,automatic,kmhwf35h95a206424,ca,1.0,255438.0,silver,gray,automotive remarketing inc,50.0,100.0,Thu May 21 2015 05:00:00 GMT-0700 (PDT),5.0
5184,1997,ford,explorer,awd xlt,NaN,automatic,1fmdu35p5vza56513,ca,1.0,195748.0,white,beige,purple heart services inc,500.0,100.0,Wed Dec 17 2014 11:00:00 GMT-0800 (PST),1.0
503632,1998,NaN,NaN,NaN,NaN,automatic,1p3ej46x5wn162393,sc,1.0,196342.0,black,black,titlemax/manning sc1,350.0,125.0,Thu Jun 04 2015 01:30:00 GMT-0700 (PDT),3.0
549300,1997,Chevrolet,Cavalier,Base,sedan,automatic,1g1jc5243v7169350,or,2.0,99621.0,burgundy,black,purple heart services inc,575.0,150.0,Tue Jun 16 2015 04:31:00 GMT-0700 (PDT),10.0
464039,2003,Cadillac,Seville,SLS,Sedan,automatic,1g6ks54y73u101388,nv,22.0,169656.0,gold,beige,dt inventory,925.0,150.0,Fri May 29 2015 05:00:00 GMT-0700 (PDT),11.0
30268,1991,Toyota,Camry,Deluxe,Sedan,automatic,jt2sv21e3m3460184,ca,2.0,252591.0,gray,gray,honda of serramonte,300.0,150.0,Wed Jan 21 2015 07:10:00 GMT-0800 (PST),2.0
506514,2000,Mitsubishi,Galant,ES,sedan,automatic,4a3aa46g2ye179862,sc,1.0,1.0,black,gray,motors acceptance corporation,925.0,150.0,Thu Jun 04 2015 01:30:00 GMT-0700 (PDT),3.0
234566,1989,NaN,NaN,NaN,NaN,automatic,1g6cd5156k4257154,ut,1.0,169765.0,silver,gray,purple heart services inc,600.0,150.0,Wed Mar 04 2015 04:30:00 GMT-0800 (PST),5.0
29060,1999,Audi,A6,2.8 quattro,Sedan,automatic,wauba24b9xn124520,wa,2.0,1.0,gold,beige,capital auto auction,2125.0,150.0,Wed Feb 11 2015 04:35:00 GMT-0800 (PST),11.0