In [2]:
### Bibliotecas básicas de gestión de datos
import pandas as pd
import numpy as np

### Bibliotecas gráficas
import matplotlib.pyplot as plt
import seaborn as sns 

### Utilidades Scikit-learn 
from sklearn.model_selection import train_test_split

### Métricas
from sklearn import metrics
from sklearn.metrics import accuracy_score, roc_curve, auc

#!pip install xgboost 
### Modelos
from xgboost import XGBClassifier, plot_importance

c:\Users\diego\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
#Cargamos el dataset desde el csv
df = pd.read_csv("Dataset/car_prices.csv")

In [4]:
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [5]:
print(df['make'].unique())

['Kia' 'BMW' 'Volvo' 'Nissan' 'Chevrolet' 'Audi' 'Ford' 'Hyundai' 'Buick'
 'Cadillac' 'Acura' 'Lexus' 'Infiniti' 'Jeep' 'Mercedes-Benz' 'Mitsubishi'
 'Mazda' 'MINI' 'Land Rover' 'Lincoln' 'lincoln' 'Jaguar' 'Volkswagen'
 'Toyota' 'Subaru' 'Scion' 'Porsche' nan 'bmw' 'Dodge' 'FIAT' 'Chrysler'
 'ford' 'Ferrari' 'Honda' 'GMC' 'mitsubishi' 'Ram' 'smart' 'chevrolet'
 'Bentley' 'chrysler' 'pontiac' 'Pontiac' 'Saturn' 'Maserati' 'Mercury'
 'HUMMER' 'landrover' 'cadillac' 'land rover' 'mercedes' 'mazda' 'toyota'
 'lexus' 'gmc truck' 'honda' 'nissan' 'porsche' 'Saab' 'Suzuki' 'dodge'
 'subaru' 'Oldsmobile' 'oldsmobile' 'hyundai' 'jeep' 'Isuzu' 'dodge tk'
 'Geo' 'acura' 'volkswagen' 'suzuki' 'kia' 'audi' 'Rolls-Royce' 'gmc'
 'maserati' 'mazda tk' 'mercury' 'buick' 'hyundai tk' 'mercedes-b' 'vw'
 'Daewoo' 'chev truck' 'ford tk' 'plymouth' 'Plymouth' 'ford truck'
 'Tesla' 'airstream' 'dot' 'Aston Martin' 'Fisker' 'Lamborghini' 'Lotus']

In [6]:
df_make = df[['make']]

In [7]:
tipos = df_make['make'].unique()

In [8]:
#Pos del nan 27

In [9]:
df_make.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   make    548536 non-null  object
dtypes: object(1)
memory usage: 4.3+ MB

In [10]:
df_make['make'].fillna(1)

0            Kia
1            Kia
2            BMW
3          Volvo
4            BMW
           ...
558832       Kia
558833       Ram
558834       BMW
558835    Nissan
558836      Ford
Name: make, Length: 558837, dtype: object

In [11]:
df_make['make'] = df_make['make'].astype(str).replace('nan', 'none')

C:\Users\diego\AppData\Local\Temp\ipykernel_6272\184417819.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_make['make'] = df_make['make'].astype(str).replace('nan', 'none')

In [12]:
df_make.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   make    558837 non-null  object
dtypes: object(1)
memory usage: 4.3+ MB

In [13]:
df_make.head(50)

         make
0         Kia
1         Kia
2         BMW
3       Volvo
4         BMW
5      Nissan
6         BMW
7   Chevrolet
8        Audi
9   Chevrolet
10       Audi
11        Kia
12       Ford
13        Kia
14  Chevrolet
15     Nissan
16    Hyundai
17       Audi
18  Chevrolet
19        BMW
20  Chevrolet
21        BMW
22  Chevrolet
23       Audi
24        BMW
25    Hyundai
26      Volvo
27      Volvo
28        BMW
29  Chevrolet
30  Chevrolet
31       Audi
32        Kia
33       Audi
34        Kia
35      Buick
36  Chevrolet
37        BMW
38        BMW
39        BMW
40   Cadillac
41    Hyundai
42        BMW
43      Volvo
44  Chevrolet
45        BMW
46      Volvo
47  Chevrolet
48      Acura
49        Kia

In [21]:
def lowerText(value):
    return value.lower()

df_make['make'].apply(lowerText)

0            kia
1            kia
2            bmw
3          volvo
4            bmw
           ...
558832       kia
558833       ram
558834       bmw
558835    nissan
558836      ford
Name: make, Length: 558837, dtype: object

In [22]:
make_brands = df_make['make'].unique()

In [23]:
df_make['make'].unique()

array(['Kia', 'BMW', 'Volvo', 'Nissan', 'Chevrolet', 'Audi', 'Ford',
       'Hyundai', 'Buick', 'Cadillac', 'Acura', 'Lexus', 'Infiniti',
       'Jeep', 'Mercedes-Benz', 'Mitsubishi', 'Mazda', 'MINI',
       'Land Rover', 'Lincoln', 'lincoln', 'Jaguar', 'Volkswagen',
       'Toyota', 'Subaru', 'Scion', 'Porsche', 'none', 'bmw', 'Dodge',
       'FIAT', 'Chrysler', 'ford', 'Ferrari', 'Honda', 'GMC',
       'mitsubishi', 'Ram', 'smart', 'chevrolet', 'Bentley', 'chrysler',
       'pontiac', 'Pontiac', 'Saturn', 'Maserati', 'Mercury', 'HUMMER',
       'landrover', 'cadillac', 'land rover', 'mercedes', 'mazda',
       'toyota', 'lexus', 'gmc truck', 'honda', 'nissan', 'porsche',
       'Saab', 'Suzuki', 'dodge', 'subaru', 'Oldsmobile', 'oldsmobile',
       'hyundai', 'jeep', 'Isuzu', 'dodge tk', 'Geo', 'acura',
       'volkswagen', 'suzuki', 'kia', 'audi', 'Rolls-Royce', 'gmc',
       'maserati', 'mazda tk', 'mercury', 'buick', 'hyundai tk',
       'mercedes-b', 'vw', 'Daewoo', 'chev truck', 'ford tk', 'plymouth',
       'Plymouth', 'ford truck', 'Tesla', 'airstream', 'dot',
       'Aston Martin', 'Fisker', 'Lamborghini', 'Lotus'], dtype=object)

In [43]:
array_brands = ['kia', 'bmw', 'volvo', 'nissan', 'chevrolet', 'audi', 'ford', 
 'hyundai', 'buick', 'cadillac', 'acura', 'lexus', 'infiniti', 
 'jeep', 'mercedes-benz', 'mitsubishi', 'mazda', 'mini', 
 'land rover', 'lincoln', 'jaguar', 'volkswagen', 'toyota', 
 'subaru', 'scion', 'porsche', 'none', 'dodge', 'fiat', 
 'chrysler', 'ferrari', 'honda', 'ram', 'smart', 
 'bentley', 'pontiac', 'saturn', 'maserati', 'mercury', 
 'hummer', 'landrover', 'mercedes', 'saab', 'suzuki', 
 'oldsmobile', 'isuzu', 'dodge tk', 'geo', 'rolls-royce', 
 'mazda tk', 'hyundai tk', 'mercedes-b', 'vw', 'daewoo', 
 'chev truck', 'ford tk', 'plymouth', 'ford truck', 'tesla', 
 'airstream', 'dot', 'aston martin', 'fisker', 'lamborghini', 'lotus']

#Obviamos los gmc, para que todas las variantes de GMC sean valor igual a 0

In [60]:
print(len(array_brands))

65

In [44]:
def assign_brand(value):
    if value.lower() not in array_brands:
        return int(0)
    elif value in array_brands:
        counter = 1
        for brand in array_brands:
            if brand == value.lower():
                return int(counter)
            else:
                counter += 1

In [47]:
df_make.loc[:,'brand_numeric2'] = df_make['make'].apply(assign_brand)

C:\Users\diego\AppData\Local\Temp\ipykernel_6272\2545668678.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_make.loc[:,'brand_numeric2'] = df_make['make'].apply(assign_brand)

In [55]:
df['make'] = df['make'].astype(str).replace('nan', 'none')

In [56]:
df['make'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 558837 entries, 0 to 558836
Series name: make
Non-Null Count   Dtype
--------------   -----
558837 non-null  object
dtypes: object(1)
memory usage: 4.3+ MB

In [63]:
df['make'].unique()

array(['Kia', 'BMW', 'Volvo', 'Nissan', 'Chevrolet', 'Audi', 'Ford',
       'Hyundai', 'Buick', 'Cadillac', 'Acura', 'Lexus', 'Infiniti',
       'Jeep', 'Mercedes-Benz', 'Mitsubishi', 'Mazda', 'MINI',
       'Land Rover', 'Lincoln', 'lincoln', 'Jaguar', 'Volkswagen',
       'Toyota', 'Subaru', 'Scion', 'Porsche', 'none', 'bmw', 'Dodge',
       'FIAT', 'Chrysler', 'ford', 'Ferrari', 'Honda', 'GMC',
       'mitsubishi', 'Ram', 'smart', 'chevrolet', 'Bentley', 'chrysler',
       'pontiac', 'Pontiac', 'Saturn', 'Maserati', 'Mercury', 'HUMMER',
       'landrover', 'cadillac', 'land rover', 'mercedes', 'mazda',
       'toyota', 'lexus', 'gmc truck', 'honda', 'nissan', 'porsche',
       'Saab', 'Suzuki', 'dodge', 'subaru', 'Oldsmobile', 'oldsmobile',
       'hyundai', 'jeep', 'Isuzu', 'dodge tk', 'Geo', 'acura',
       'volkswagen', 'suzuki', 'kia', 'audi', 'Rolls-Royce', 'gmc',
       'maserati', 'mazda tk', 'mercury', 'buick', 'hyundai tk',
       'mercedes-b', 'vw', 'Daewoo', 'chev truck', 'ford tk', 'plymouth',
       'Plymouth', 'ford truck', 'Tesla', 'airstream', 'dot',
       'Aston Martin', 'Fisker', 'Lamborghini', 'Lotus'], dtype=object)

In [74]:
def tolower(value):
    return value.lower()

df['make']=df['make'].apply(tolower)

In [75]:
df['make_numeric'] =df['make'].apply(assign_brand)

In [76]:
df['make_numeric'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 558837 entries, 0 to 558836
Series name: make_numeric
Non-Null Count   Dtype
--------------   -----
558837 non-null  int64
dtypes: int64(1)
memory usage: 4.3 MB